@model IEnumerable<SecretSantaWeb.Models.Participant>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Secret Santa";
}

<h2>Secret Santa</h2>
<table class="table">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Surname)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Password)
    </th>
    <th></th>
</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.PasswordFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("узнать одариваемого", "Bestowed", new { id=item.ID}) 
        </td>
    </tr>
}
</table>