@model SecretSantaWeb.Models.Participant

<tr>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <td>
            @Html.HiddenFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DisplayFor(model => model.ID, new {htmlAttributes = new {@class = "form-control"}})
        </td>
       
        <td>
            @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.DisplayFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="узнать жертву" class="btn btn-default" />
                </div>
            </div>
        </td>

    }
</tr>
