@model SecretSantaWeb.Models.Group

<tr>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <td>
            @Html.HiddenFor(model => model.GroupId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DisplayFor(model => model.GroupId, new { htmlAttributes = new { @class = "form-control" } })
        </td>

        <td>
            @Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.PasswordFor(model => model.PasswordView, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PasswordView, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.PasswordFor(model => model.PasswordDelete, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PasswordDelete, "", new { @class = "text-danger" })
        </td>
        <td>
            <button name="action" value="View">Просмотр</button>
            <button name="action" value="Delete">Удалить</button>
        </td>

    }
</tr>

