@model IEnumerable<SecretSantaWeb.Models.Group>




<p>
    @Html.ActionLink("Создать группу", "Create")
</p>
<h2>Secret Group Satan </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordView)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordDelete)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        @Html.Partial("Group", item)

    }
</table>
